extends layout

block content
    section
      header
        h1 Credential Definition
      form(id="myForm" action="/credential-definitions" method="POST")
        fieldset 
          legend Create credential definition
          div(class="form-group")
            label(for="cred_tag") Credential Tag:
            input(id="cred_tag" name="tag" type="text" placeholder="Credential Tag")
          div(class="form-group")
            label(for="schema_name") Select schema 
            select(id="schema_name" name="schema_id")
              each val in schema_names
                option(value=val.id) #{val.name}
          div(class="form-group")
            input(type="submit" value="Submit")
