extends layout

block content
  section
    header
      h1 Generate Invitation

    form(id="myForm" action="/mobile-agent-connection-generation" method="POST")
      fieldset 
        legend Generate Invitation
        div(class="form-group")
          label(for='email') Email:
          input(type='text' name='email' id='email' placeholder='Enter your email')
        div(class="form-group")
          label(for='alias') Alias:
          input(type='text' name='alias' id='alias' placeholder='Enter an alias for this site')
        div(class="form-group")
          input(type="submit" value="Submit")