extends layout

block content
  section
    header
      h1 Welcome to Jatiyo Sheba
  section
    div.container
      h2 Our Services
      p We offer a variety of services to cater to your needs. Here are some of our popular services:
      ul
        li Service 1: Description of Service 1
        li Service 2: Description of Service 2
        li Service 3: Description of Service 3
  section
    div.container
      h2 Contact Us
      p Feel free to reach out to us for any queries or support.
      p Email: support@serviceprovider.com
      p Phone: +1234567890
  section
    .container
        ul
          li
            a.menu-item(href="/generate_invitation_page" ) connect with wallet
          li
            a.menu-item(href="/login" ) already connected?
