extends layout

block content
  section
    header
      h1 Welcome to Agent-1
    form(id="myForm" action="/create-connection" method="POST")
      fieldset 
        legend Create a connection
        div(class="form-group")
          label(for="label") Your Label:
          input(id="label" name="my_label" type="text" placeholder="Your Label")

        div(class="form-group")
          label(for="alias") Connection Alias:
          input(id="alias" name="alias" type="text" placeholder="Provide a name for the connection")

        div(class="form-group")
          label(for="controller") Where to connect:
          input(id="controller" name="agent_controller" type="text" placeholder="Other agent's controller url")

        div(class="form-group")
          input(type="submit" value="Submit")
  script(type='text/javascript', src="/js/client.js")