extends layout

block content
  section
    header
      h1 Create Invitation

    form(id="myForm" action="/mobile-agent-connection" method="POST")
      fieldset 
        legend Create Invitation
        div(class="form-group")
          label(for='memName') Please enter a connection-alias:
          input(type='text' name='memoNameData' id='memName' placeholder='text')
        div(class="form-group")
          label(for="email") Email:
          input(type='text' name='emailData' id='email' placeholder='email')        
        div(class="form-group")
          input(type="submit" value="Submit")