extends layout

block content
  section
    header
      h1 Issue Credential
    form(id="myForm" action="" method="POST")
      fieldset 
        legend Issue credential
        div(class="form-group")
          label(for="attr") Attributes:
          input(id="attr" name="attributes[]" type="text" placeholder="Provide Attribute")
          input(id="attr" name="attributes[]" type="text" placeholder="Provide Attribute")
          input(id="attr" name="attributes[]" type="text" placeholder="Provide Attribute")
        div(class="form-group")
          label(for="schema_name") Schema name:
          input(id="schema_name" name="schema_name" type="text" placeholder="Schema name")
        div(class="form-group")
          input(type="submit" value="Submit")
