extends layout

block content
  section
    header
      h1 Get Credential
    form(id="myForm" action="/issue-credential" method="POST")
      fieldset 
        legend Provide Credential Information
        each attrName in attrs
          if attrName !== 'Id' 
            div.form-group
              label(for=attrName)= attrName + ":"
              input(id=attrName name=attrName type="text" placeholder="Provide Attribute" class="form-control")
        div.form-group
          input(type="hidden" name="schema_id" value=schema_id)
          input(type="submit" value="Submit" class="btn btn-primary")
