doctype html
html
  head
    title Service Provider
    link(rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.4/dist/terminal.min.css")
    link(rel="stylesheet" href="/stylesheets/custom.css")
  body
    div(class="container ")
      section 
        div.terminal-nav
          div.terminal-logo
            div.logo.terminal-prompt
              a.no-style(href="/") SP
          nav.terminal-menu
            ul
              if adminName
                li
                  a.menu-item(href="/references" class=currentPath === '/references' ? 'active' : '') References
                li
                  a.menu-item(href="/form" class=currentPath === '/form' ? 'active' : '') Add Reference
              if !adminName && userName
                li
                  a.menu-item(href="/user-profile" class=currentPath === '/user-profile' ? 'active' : '') #{userName ? userName : 'user'}
              if adminName || userName
                li
                  a.menu-item(href="/logout") Logout
              if adminName || userName
                li
                  a.menu-item(href="/service") Access Service
              else
                li
                  a.menu-item(href="/signup_with_idp" ) Access Service

        hr
      block content
      div(class="footer-container")
        hr
        footer
          p © 2024 Service Provider Ltd.
