doctype html
html
  head
    title Agent-1
    link(rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.4/dist/terminal.min.css")
    link(rel="stylesheet" href="/stylesheets/custom.css")
  body
    div(class="container ")
      section 
        div.terminal-nav
          div.terminal-logo
            div.logo.terminal-prompt
              a.no-style(href="/") home
          nav.terminal-menu
            ul
              li
                a.menu-item(href="/agent_info_page") agent_info
              li
                a.menu-item(href="/schema_def_page") schema_def
              li
                a.menu-item(href="/select_schema") select_schema
              li
                a.menu-item(href="/generate_invitation_page") connect
        hr
      block content
      div(class="footer-container")
        hr
        footer
          p © 2024 Express App
