doctype html
html
  head
    title Service Provider
    link(rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.4/dist/terminal.min.css")
    link(rel="stylesheet" href="/stylesheets/custom.css")
  body
    div(class="container ")
      section 
        div.terminal-nav
          div.terminal-logo
            div.logo.terminal-prompt
              a.no-style(href="/") SP
          nav.terminal-menu
            ul
              //- li
              //-   a.menu-item(href="/references") Reference-list
              //- li
              //-   a.menu-item(href="/form") Reference-form
              //- li
              //-   a.menu-item(href="/add-org") Add Organization
              li
                a.menu-item(href="/signup_with_idp") Access Service
        hr
      block content
      div(class="footer-container")
        hr
        footer
          p © 2024 Service Provider Ltd.
