extends layout

block content
    section
        header
            h1 Invitation

        div
            h2 Scan the QR Code to access data!
            img.qr-code(src=src alt="QR Code Image")
            h4(id="connection_id" style="display: none;")  #{id}

    style.
        .qr-code {
            width: 400px;
            height: 400px;
        }

    script(type='text/javascript', src="/js/mobile-agent-connection.js")
