extends layout

block content
  section
    header
      h1 Reconnet

    form(id="myForm" action="/login" method="POST")
      fieldset 
        legend Reconnect Wallet With Email
        div(class="form-group")
          label(for='email') Email:
          input(type='text' name='email' id='email' placeholder='Enter your email')
        div(class="form-group")
          input(type="submit" class="btn btn-error" value="Login" )
  script(type='text/javascript', src="/js/client-basicidp.js")