extends layout

block content
  section
    header
      h1= title 
    form(id="myForm" action="/add-org" method="POST")
      fieldset 
        legend Add organization 
        div(class="form-group")
          label(for="refr") Reference:
          input(id="refr" name="refr" type="text" placeholder="Enter Reference")
        div(class="form-group")
          label(for="did") DID:
          input(id="did" name="did" type="text" placeholder="Enter DID")
        div(class="form-group")
          input(type="submit" class="btn btn-primary" value="Submit")
  script(type='text/javascript', src="/js/validate-toast.js")