extends layout

block content
  h1= title

  table
    thead
      tr
        th Reference
        th Created At
    tbody
      each reference in references
        tr
          td= reference.reference
          td= reference.createdAt
