extends layout

block content
  section
    header
      h1= title 
    form(id="myForm" action="/references" method="POST")
      fieldset 
        legend Database Entry
        div(class="form-group")
          label(for="refr") Reference:
          input(id="refr" name="refr" type="text" placeholder="Enter Reference")
        div(class="form-group")
          label(for="domain") Domain:
          input(id="domain" name="domain" type="text" placeholder="Enter URL")
        div(class="form-group")
          label(for="org") Organization:
          input(id="org" name="org" type="text" placeholder="Enter Organization's name")
        div(class="form-group")
          input(type="submit" class="btn btn-primary" value="Submit")
  script(type='text/javascript', src="/js/client.js")