extends layout

block content
  section
    header
      h1 Schema Creation
    form(id="myForm" action="/schemas" method="POST")
      fieldset 
        legend Create a schema
        div(class="form-group")
          label(for="attr") Attributes:
          input(id="attr" name="attributes" type="text" placeholder="Provide attributes separated by commas")
        div(class="form-group")
          label(for="schema_name") Schema name:
          input(id="schema_name" name="schema_name" type="text" placeholder="Schema name")
        div(class="form-group")
          input(type="submit" value="Submit")
