extends layout

block content
    section
      header
        h1 Schema Selection
      form(id="myForm" action="/get-credential" method="POST")
        fieldset 
          legend 
          div(class="form-group")
            label(for="schema_name") Select schema 
            select(id="schema_name" name="schema_id")
              each val in schema_names
                option(value=val.id) #{val.name}
          div(class="form-group")
            input(type="submit" class="btn btn-primary" value="Submit")
