extends layout

block content
    section
      header
        h1 Schema Selection
      form(id="myForm" action="/redirect" method="POST")
        fieldset 
          legend 
          div(class="form-group")
            label(for="idp") Select Your Identity Provider 
            select(id="idp" name="reference_domain")
              each val in references
                option(value=val.domain) #{val.organization}
          div(class="form-group")
            input(type="submit" class="btn btn-primary" value="Submit")
