doctype html
html
  head
    title Agent-1
    link(rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.4/dist/terminal.min.css")
  body
    header
      h1 Welcome to Temporary 
    section
        <code> </code>
    footer
      p © 2024 Express App