extends layout

block content
    section

        div
            h2 Please check for credential offer in your wallet...

    script(type='text/javascript' src="/js/delay.js")
    script(type='text/javascript' src="/js/issue-credential.js")
